.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #367C9F;
    color: white;
}

.nav h2{
    margin-left: 20px;
}
.nav ul li{
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
   
}
.nav a{
    text-decoration: none;
}