header {
    margin : 0;
    text-align :center;
    padding-top: 10vh;
  
    
}
header h1{
    font-size: 3.8rem;
    color: rgb(33,37,41);
}

header p{
    font-size: 2.5rem;
    color: rgb(33,37,41);
}
 
