.mostRecent11{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.mostRecent11 div{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.mostRecent11 img{
    width: 100%
}