.body{
    color:black;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    
}

.incomeAndExpenses div{
    display: flex;
    background-color: bisque;
}
.incomeAndExpenses p{
    padding: 2px;
    margin-left:20px;
    text-align: justify;
}
select{
    width: 10%;
    font-size: 1rem;
}


